{% load static %}
<html>
<head>
<title></title>
<link href="{% static 'style.css' %}" rel='stylesheet'>
</head>
<body>
<h1>linkshare</h1>

<center>

<form action='post' method="POST">
	{% csrf_token %}
	<input id="field" name="data" placeholder="{{inputNewPH}}"><br>
	<input class='sub' type=submit value="{{submitNew}}" name='new'><input class='sub' type=submit value="{{submitOpen}}" name='open'><br>
	<input type=checkbox name='autodelete' class='checkbox'>{{autodelete}}
	<input type=checkbox name='allowdelete' class='checkbox'><label>{{allowdelete}}</label>
</form>



</center>
<h6>{{dbItems}} ссылок сохранено прямо сейчас</h6>
</body>
</html>
